.Modal{
    text-align: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(90, 88, 88, 0.887);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 50px;
}

