.CreateTodoButtton{
    background-color: rgb(43, 255, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    color: black;
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-weight: bold;

    transform: rotate(0);
    transition: .3s ease;
    z-index: 2;
}

.CreateTodoButtton:hover{
    transform: rotate(224deg);
    color: black;
}