#search{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 15rem;
    height: 1.5rem;
    left: 43%;
    top: 1rem;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow:5px 3px 10px 0 gray;
}

#search::placeholder{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#search:focus{
    outline-color:green;
}

.TodoSearch:disabled{
    opacity: 25%;
}